@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Pacifico&display=swap');
@font-face {
  font-family: "Limelight";
  src: url("../assets/fonts/Limelight-Regular.ttf") format("truetype");
}

/* Estilos generales para la p치gina web */
body {
  background-color: antiquewhite;
  color: #FFFFFF;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 20px;
}

/* Estilos para el carrusel de im치genes */
.grid-container {
    display: grid;
    align-items: center;
    margin: 10px auto;
    width: 70%;
    grid-template-columns: 1fr 1fr 65%; /* columnas iguales */
    gap: 10px; /* espacio entre im치genes */
}

.grid-container img {
    width: 400px; /* se ajusta al ancho de la celda */
    height: 300px; /* se ajusta al alto de la celda */
    border-radius: 10px;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin: 0; /* quitamos margen extra */
}

.grid-container img:hover {
    transform: scale(1.10); /* Efecto zoom al pasar el mouse */
}

/*encabezado*/
header{
 background-color: #6b67b9;
 display: block;
 width: 100%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: 700px;
 padding-top: 8px;
}
nav{
    width: 100%;
    height: 82px;
}
.lista{
    color: white;
    font-size: 40px;
    margin-left: 13px;
    display: inline;
    margin-right: 15px;
}

/* Estilos para los titulos */
h1, h2, h3, h4, h5, h6 {
  color: #23468C;
  font-family: "Pacifico", cursive;
  font-size: 20px;

}

a {
  color: #000480;
  text-decoration: none;
}

/* Estilos para los enlaces */
a:hover {
  color: #57C6F2;
  text-decoration: underline;
}

/* Estilos para los botones*/
.btn-primario {
  background-color: #23468C;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.btn-primario:hover {
  background-color: #3098F2;
}

/* Fuente del Parraf칩*/
p {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}